%header#home.jumbotron
  .container
    %img.img-responsive.img-center.header-logo{:alt => "", :src => "assets/drop.png"}
      .message-box.clearfix
        .first-line
          %p Skorpion Software builds
        .second-line.flexslider.home-slider
          %ul.slides
            %li
              %p wordpress sites
            %li
              %p ruby on rails apps
            %li
              %p mobile apps
            %li
              %p the web

= render 'services'

= render 'approach'

= render 'projects'

= render 'testimonials'

= render 'about'

= render 'brands'

= render 'contact'

= render 'social'

