%header#home.jumbotron
  .container
    %img.img-responsive.img-center.header-logo{:alt => "", :src => "assets/drop.png"}
      .message-box.clearfix
        .first-line
          %p Skorpion Software builds
        .second-line.flexslider.home-slider
          %ul.slides
            %li
              %p web apps
            %li
              %p mobile apps
            %li
              %p the web

= render 'services'

= render 'approach'

= render 'projects'

= render 'testimonials'

= render 'about'

= render 'brands'

= render 'contact'

= render 'social'

%script{"data-cfasync" => "false", :type => "text/javascript"}
  :cdata
    window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'ceef6b63-cceb-46f4-a0ac-71d6bdfb0d77', f: true }); done = true; } }; })();
