%header#home.jumbotron
  .container

    %img.img-responsive.img-center.header-logo{:alt => "", :src => "assets/drop.png"}
      .message-box.clearfix

        .first-line
          %p Skorpion Software builds
        .second-line.flexslider.home-slider
          %ul.slides
            %li
              %p wordpress sites
            %li
              %p ruby on rails
            %li
              %p mobile apps
            %li
              %p the web
        .another.text-center
          %a.btn.btn-theme.btn-lg.scrollto{:href => "#contact"} Free Website Review


= render 'services'

= render 'approach'

= render 'projects'

= render 'testimonials'

= render 'about'

= render 'brands'

= render 'contact'

= render 'social'

