= form_for Contact.new, remote: true do |f|
  %h3.primary Drop us a line
  .form-group
    .controls
      = f.text_field :name, placeholder: 'Your name', class: 'form-control input-lg', required: true
      %i.fa.fa-user

  .form-group
    .controls
      = f.text_field :email, placeholder: 'Your email', class: 'form-control input-lg', required: true
      %i.fa.fa-envelope

  .form-group
    .controls
      = f.text_field :phone, placeholder: 'Your number', class: 'form-control input-lg', required: true
      %i.fa.fa-phone

  .form-group
    .controls
      = f.text_area :message, placeholder: 'Please enter your message', class: 'form-control input-lg', required: true
      %i.fa.fa-comment

  %p
    = button_tag class: "btn btn-theme btn-block" do
      %i.fa.fa-location-arrow
      Send Message
