!!!
%html.no-js{:lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}
      %title Skorpion Software | Web Development
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
      %link{:href => "assets/favicon.ico", :rel => "shortcut icon"}
      %link{:href => "assets/apple-touch-icon.png", :rel => "apple-touch-icon"}
      %link{:href => "assets/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
      %link{:href => "assets/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'application'
      %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic", :rel => "stylesheet", :type => "text/css"}
      %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :integrity => "sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", :rel => "stylesheet"}


  %body{"data-offset" => "400", "data-spy" => "scroll", "data-target" => "#main-nav"}

    #page-loader
      %h1.loader-logo
        Skorpion
        %span / Software
      %span.page-loader-gif

    #backgrounds{"data-backgrounds" => "assets/bg1.jpg,assets/bg2.jpg,assets/bg3.jpg"}
    #color-overlay

    = render 'layouts/navigation'
    = yield
    = render 'layouts/footer'

